/* === FOOTER === */
.footer {
  background: rgba(16, 25, 40, 1);
  padding: 60px 0;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.footer__logo {
  font-family: var(--font-logo);
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 2px;
  color: rgba(144, 158, 182, 1);
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer__nav-link {
  font-size: var(--fs-medium);
  font-weight: 300;
  color: rgba(144, 158, 182, 1);
  transition: color var(--transition-fast);
}

.footer__nav-link:hover {
  color: var(--color-white);
}

.footer__star img {
  width: 30px;
}
